In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.options.mode.chained_assignment = None

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [8]:
#df_streams = pd.read_csv('../MyData/mystreams.csv')
df_audiofeatures = pd.read_csv('../MyData/audio_features.csv')
df_track_ids = pd.read_csv('../MyData/track_id.csv')

In [6]:
df_audiofeatures.head()

,id,danceability,energy,key,loud,mode,speech,acoustics,instrumentals,liveness,valence,tempo
0,3e9VtBXljd8vNUT5dMq62w,0.596,0.740,8.0,-6.127,1.0,0.0338,0.341,0.000021,0.1020,0.493,118.031
1,51Fjme0JiitpyXKuyQiCDo,0.843,0.390,2.0,-7.899,1.0,0.0846,0.178,0.000000,0.1370,0.495,129.972
2,3ee8Jmje8o58CHK66QrVC2,0.740,0.613,8.0,-4.880,1.0,0.1450,0.258,0.003720,0.1230,0.473,75.023
3,3yOlyBJuViE2YSGn3nVE1K,0.724,0.491,8.0,-6.024,1.0,0.0296,0.018,0.000013,0.0887,0.383,105.046
4,21jGcNKet2qwijlDFuPiPb,0.695,0.762,0.0,-3.497,1.0,0.0395,0.192,0.002440,0.0863,0.553,120.042

In [9]:
df_track_ids.head()

,end_time,artist_name,track_name,milliseconds_played,minutes_played,date,time,day,month,track_id
0,2020-05-14 21:52:00,OneRepublic,Apologize,188270,3.14,2020-05-14,21:52:00,Thursday,May,3e9VtBXljd8vNUT5dMq62w
1,2020-05-14 21:55:00,Y2K,Lalala,160626,2.68,2020-05-14,21:55:00,Thursday,May,51Fjme0JiitpyXKuyQiCDo
2,2020-05-14 21:58:00,XXXTENTACION,SAD!,99880,1.66,2020-05-14,21:58:00,Thursday,May,3ee8Jmje8o58CHK66QrVC2
3,2020-05-15 01:13:00,Camila Cabello,My Oh My (feat. DaBaby),170746,2.85,2020-05-15,01:13:00,Friday,May,3yOlyBJuViE2YSGn3nVE1K
4,2020-05-15 01:17:00,Post Malone,Circles,215280,3.59,2020-05-15,01:17:00,Friday,May,21jGcNKet2qwijlDFuPiPb